Package: com.chancehudson.testweeapp
Name: TestWeeApp
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Chance Hudson
Author: Chance Hudson
Section: System
